body {
    background-color: #b57edc;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #000 2px 2px;
}

#calcular {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #000;
    margin-left: 40%;
    margin-right: 40%;
    flex-direction: column;
    padding-bottom: 10px;
}

.parte-um {
    display: flex;
    justify-content: space-around;
}

.parte-um div {
    display: flex;
    flex-direction: column;
}

.parte-um div input {
    width: 70px;
}

.num-primeiro {
    margin-bottom: 5px;
}

#num-mult {
    width: 90px;
}

.parte-dois {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 5px 50px;
    cursor: pointer;
}

#resultado {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    margin-top: 300px;
}

@media screen and (max-width: 600px) {
    header {
      font-size: 1.2rem;
      text-align: center; 
    }

    #calcular {
        width: 200px;
        margin: auto;
        align-items: center;
    }
  
    .parte-um,
    .parte-dois {
      flex-direction: column;
    }
  
    input[type="number"] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    #num-p {
        width: 90px;
    }

    #resultado {
      padding: 10px; 
      width: 300px;
      margin: auto;
      align-items: center;
      display: block;
      margin-bottom: 50px;
    }

    #p {
        justify-content: center;
    }
  
    table {
      width: 100%;
    }
  
    footer {
      text-align: center;
    }
  }